.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    background-color:rgb(199, 225, 255) ;
    
}

.dialogsItems{
    padding: 10px;
    color: white;
}

.dialogsItems .active {
    color: rgb(1, 95, 99);
}

.messages {
    padding: 10px;
}

.messages .message {
    color: rgb(0, 0, 0);
}