.app-wrapper {
    margin: 0 auto;
    display: grid;
    width: 1200px;
    grid-template-areas:
    "h h"
    "n c" ;

    grid-template-rows: 60px 2fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    background-color:rgb(244, 244, 255);
}

a {
    text-decoration: none;
}