.item img {
    width: 70px;
    border-radius: 50%;
}

.item {
    margin: 15px;
}

.message {
    width: 600px;
    max-width: 600px;
    min-height: 100px;
    max-width: 600px;
    margin: 5px;
    padding: 5px;
    background-color: rgb(255, 255, 255);
    word-wrap: break-word;
    border-radius: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto
    
}

.avatar {
    height: 100%;
}
