.sidebar {
    grid-area: n;
    background-color:rgb(100, 187, 237);
    height: 700px;
}

.item {
    color: white;
    padding-left: 10px;
    text-decoration: tomato;
}

.item h2 {
    color: rgb(255, 255, 255);
    
}
